<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADA Report</title>
    <link rel="stylesheet" href="ada.css">
  </head>
  <body>
	



</div>
<div class='bottom-right'>
  <button>Next</button>
</div>
</div>


<header class="mainHeader">

<nav>
 <h1 style=" text-align: center;">ADA compliance Report</h1>
</nav>
</header>

<div class="mainContent">

<div class="content">
  <article class="topcontent">
    <header>
      <h2><a href="#">Note</a></h2>
    </header>


    <footer>
     
    </footer>

    <content>
        <p class="post-info">This information is only for this Webpage only <br>And not for whole site</p>
    </content>

  </article>

  <article class="bottomcontent">
    <header>
      <h2><a href="#">Color Contrast Report</a></h2>
    </header>


    <footer>
      <p class="post-info"></p>
    </footer>

    <content>
        <%-table%>
    </content>

  </article>

</div>
</div>

<aside class="top-sidebar">
<article>
  <h2>Alt Text </h2>
  <p><%=alt%> out of <%=Img%> <br> images don't have alt text.</p>
</article>
</aside>


<aside class="middle-sidebar">

<article>
  <h2>Tab Index</h2>
  <p>Incorrect Tab Index: <%=Tab%></p>
</article>
</aside>
<footer class="mainFooter">
</footer>
  </body>
</html>