<html>
    <head>
        <title>
            Error
        </title>
    </head>
    <body>
        <h1>Please Enter the Complete URL with protcol for <br> eg:-https://myacademichelper.com/</h1>
    </body>
</html>